{% extends 'base.html.twig' %}

{% block title %}Caisson{% endblock %}

{% block body %}
    
    <div class="container col-sm-7">
        <h1>Caisson</h1>
        <a href="{{ path('app_box_index') }}" class="btn btn-primary float-end m-2">Retour</a>
        <a href="{{ path('app_box_edit', {'id': box.id}) }}" class="btn btn-sm btn-warning float-end m-2">
            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        </a>
        <table class="table table table-dark m-5 ">
            <tbody>
                <tr>
                    <th>Numéro</th>
                    <td class="text-center">{{ box.number }}</td>
                </tr>
                <tr>
                    <th>Disponibilité</th>
                    <td class="text-center">
                        {% if (box.status == 1) %}
                            <span class="badge bg-success">Libre</span>
                        {% elseif (box.status == 2) %}
                            <span class="badge bg-danger">Occupé</span>
                        {% elseif (box.status == 3) %}
                           <span class="badge bg-warning">Neutralisé</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Membre</th>
                    <td class="text-center">
                        {% if box.member %}
                            <a href="{{ path('app_member_show', {'id': box.member.id}) }}">{{ box.member.lastname }} {{ box.member.firstname }}</a>
                        {% else %}
                            <span> - </span>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        {{ include('box/_delete_form.html.twig') }}
    </div>
    

{% endblock %}
