{% extends 'base.html.twig' %}

{% block title %}Tarifs FFTA{% endblock %}

{% block body %}
    <h1>Tarifs FFTA</h1>
    <a href="{{ path('app_rate_ffta_new') }}"class="btn btn-primary float-md-end mb-2">Ajouter un tarif</a>
    {{ include ('_flash_messages.html.twig') }}

    <table class="table table-dark table-striped table-hover">
        <thead class="text-center">
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Frais d'entrée</th>
                <th>Cotisation</th>
                <th>Licence</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for rate_ffta in rates_ffta %}
            <tr>
                <td>{{ rate_ffta.code }}</td>
                <td>{{ rate_ffta.label }}</td>
                <td>{{ rate_ffta.entryFee }} €</td>
                <td>{{ rate_ffta.cotisation }} €</td>
                <td>{{ rate_ffta.licence }} €</td>
                <td>{{ rate_ffta.amount }} €</td>
                <td>
                    <a href="{{ path('app_rate_ffta_show', {'id': rate_ffta.id}) }}"class="btn btn-sm btn-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('app_rate_ffta_edit', {'id': rate_ffta.id}) }}"class="btn btn-sm btn-warning mx-1">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de tarifs enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
